.lineItem {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.25fr;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
  margin: 8px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  padding: 4px;
}

.lineItem img {
  width: 120px;
}

.lineItem input {
  width: 48px;
  padding: 4px;
}

.lineItem button {
  width: 48px;
  padding: 4px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.lineItem button:active {
  transform: scale(1.1);
}
