.filters {
  background-color: blanchedalmond;
  padding: 8px;
  border: 1px solid black;

  flex-basis: 300px;
  flex-grow: 1;
}

.filters label {
  display: block;
}

.filters label > input {
  margin-right: 4px;
}

.filters > * {
  margin: 8px;
}

.filters input[type="text"] {
  padding: 4px;
  border-radius: 12px;
  border: 1px solid black;
}

.filters button {
  padding: 4px;
  color: var(--primary);
  background-color: var(--tertiary);
  cursor: pointer;
  border: 1px solid black;
}
.filters button:active {
  transform: scale(1.1);
}
