.productCard {
  margin: 4px;
  border: 1px solid black;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

.productCard img {
  width: 100%;
  height: auto;
}

.productCard button {
  display: block;
  padding: 4px;
  background-color: mediumseagreen;
  color: white;
  border-radius: 6px;
  border: 1px solid black;
  cursor: pointer;
}

.productCard button:disabled {
  background-color: grey;
  color: white;
  border-radius: 6px;
  border: 1px solid black;
  cursor: auto;
}
.productCard button:active:not(:disabled) {
  transform: scale(1.1);
}
