.productPageContainer {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtersAndProducts {
  margin: 8px;
  width: 94vw;
  padding: 8px;

  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
/* 
.pageSelector {
  background-color: blanchedalmond;
  margin-bottom: 8px;
} */
